@import url(https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css);
neo_login {
  background-color: #ebecf0;
}

.neo_login > p,
input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}
.neo_login > div,
p {
  color: #babecc;
  text-shadow: 1px 1px 1px #fff;
}
.neo_login form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}
.neo_login .segment {
  padding: 32px 0;
  text-align: center;
}
.neo_login button,
.neo_login input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}
.neo_login label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}
.neo_login input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.neo_login input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.neo_login button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
.neo_login button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.neo_login button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.neo_login button .icon {
  margin-right: 8px;
}
.neo_login button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
.neo_login button.unit .icon {
  margin-right: 0;
}
.neo_login button.red {
  display: block;
  width: 100%;
  color: #ae1100;
}
.neo_login .input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.neo_login .input-group label {
  margin: 0;
  flex: 1;
}
